.nav-container {
  position: fixed;
  background-color: #333;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  .logo {
    text-transform: uppercase;
  }
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  transition: color 0.2s;

  &:hover {
    color: #00bfff;
  }
}

@media screen and (max-width: 768px) {
  .nav-item {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-item {
    padding: 10px 0;
  }
}
