@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

// Navigation
.nav-container {
  position: fixed;
  background-color: #333;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  transition: color 0.2s;

  &:hover {
    color: #00bfff;
  }
}

@media screen and (max-width: 768px) {
  .nav-item {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-item {
    padding: 10px 0;
  }
}

//Header
header.hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../../img/laptop-2620118_1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  z-index: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  .title-blue {
    color: #00bfff;
  }

  .hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}

// Section

.section-container {
  padding: 10px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    padding: 50px 0 10px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .section-content {
    text-align: center;
    font-size: 24px;
    width: 70%;
    display: flex;
  }

  .little-text {
    margin: 10px 0;
    text-align: left;
  }
}

// Courses

.courses-hero-img {
  position: relative;
  background-image: url("../../img/laptop-5612757_1920.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  z-index: 0;

  .courses-hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
}

.course {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  text-align: left;
  padding: 10px;
  margin: 40px;
  .course-title {
    font-weight: bold;
    font-size: 24px;
    .highlighted {
      color: #00bfff;
    }
  }

  .course-description {
    flex-grow: 1;
    font-size: 20px;
    padding: 20px 0 20px;
  }

  .course-level {
    font-size: 20px;
    border-top: 1px solid #fff;
    .course-level-bold {
      font-weight: bold;
    }
  }

  .course-buy {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    padding: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      background-color: #fff;
      color: black;
    }
  }
}

.course-container {
  display: flex;
}
